@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,100;1,300;1,400;1,700&family=Lexend+Deca:wght@400;700&family=Outfit:wght@300;400;600&family=Poppins:wght@200;400;600&display=swap');
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: hsl(217, 54%, 11%);
  display: grid;
  place-items: center;
  justify-content: center;
  padding: 75px;
  margin: 0px;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
}
@media (min-width: 768px) {
  body {
    padding: 150px 100px 100px;
  }
}
.page {
  background-color: hsl(216, 50%, 16%);
  width: 370px;
  height: 100%;
  padding: 25px;
  box-shadow: 
  0px 40px 5px 20px hsl(217deg 54% 11% / 85%), 
  0px 30px 2px 65px hsl(217deg 45% 30% / 1%);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
@media (max-width: 767px) {
  .page  {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .page .container {
    width: 300px;
    height: 600px;
  }
}
.page .container .image img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media (max-width: 767px) {
  .page .container > img {
    width: 300px;
  }
}
.page .container .image {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.page .container .image::before {
  content: "";
  width:  5px;
  height: 5px;
  background: #f6f6f60a;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  opacity: 0;
}
.page .container .image:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.page .container > h2 {
  color: hsl(0, 0%, 100%);
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.page .container > h2:hover {
  color: hsl(178, 100%, 50%);
}
.page .container > p {
  color: hsl(215, 51%, 70%);
  line-height: 1.7;
}
.page .container  .info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(215, 32%, 27%);
  padding: 5px 0 25px;
  margin-bottom: 25px;
}
.page .container .info span:first-child {
  color: hsl(178, 100%, 50%);
  font-size: 22px;
}
.page .container .info span:first-child > img  {
  width: 14px;
  margin-right: 3px;
}
.page .container .info span:last-child {
  font-size: 20px;
  color: hsl(215, 51%, 70%);
}
.page .container .info span:last-child > img  {
  width: 20px;
  margin-right: 3px;
}
.page .container .footer {
  display: flex;
  gap: 20px;
}
.page .container .footer img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.page .container .footer p {
  color: hsl(215, 51%, 70%);
}
.page .container .footer p span {
  margin-left: 5px;
  color:hsl(0, 0%, 100%);
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.page .container .footer p span:hover {
  color: hsl(178, 100%, 50%);
}